* {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  margin-top: 2rem;
  background-color: black;
}
